body {
    font-family: Arial, sans-serif;
    background-color: #eed3b1;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s;
}

h1 {
    text-align: left;
    margin: 10px;
    color: #1f4529;
    font-size: 30px;
}

h2 {
    color: #1f4529;
    text-align: center;
    margin-top: 40px;
}

h3 {
    color: #1f4529;
    margin-left: 10px;
    margin-top: 20px;
}

p {
    color: #47663b;
    line-height: 1.5;
    margin: 0 auto;
    width: 60%;
}

img {
    display: block;
    margin: 0 auto;
    width: 300px;
    margin-top: -20px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #1f4529;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}


button:hover {
    background-color: #2a6938;

}


button:active {
    background-color: #17421e;
 
}

#fetchBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1f4529;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

#fetchBtn:hover {
    background-color: #45a049;
}

#postContainer {
    margin-top: 20px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    animation: fadeIn 0.5s ease-in-out;
}


.post {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.95em;
        width: 80%;
    }

    button {
        padding: 8px 15px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
        width: 90%;
    }

    button {
        padding: 8px 12px;
        font-size: 14px;
    }
}
